@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark:[color-scheme:dark]
}

@font-face {
  font-family: 'Yeseva One';
  src: url('@/assets/YesevaOne-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Prata';
  src: url('@/assets/Prata-Regular.ttf')  format('truetype');
}

h1 {
  font-family: 'Yeseva One', cursive;
}

header nav li,
h2, h3, h4 {
  font-family: 'Prata', serif;
}

a {
  @apply text-pink-500;
}

a:hover {
  @apply text-pink-800;
}

p {
  font-size: 1.1em;
  line-height: 1.8em;
}